<section id="home" class="bg-gray-100 py-20 md:py-32 relative overflow-hidden">
  <div class="container mx-auto px-4 md:px-0 relative z-10">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <div class="md:w-1/2 text-center md:text-left mb-8 md:mb-0">
        <h1 class="text-4xl md:text-5xl font-bold text-gray-800 mb-4 leading-tight">
          <span class="text-blue-500">Prism ERP:</span> Simplificando a gestão do seu negócio
        </h1>
        <p class="text-xl md:text-xl mb-8 text-gray-600">
          Solução completa para gestão empresarial, com ferramentas inovadoras e personalizáveis para o sucesso do seu negócio.
        </p>
        <div class="flex flex-col sm:flex-row items-center justify-center md:justify-start gap-4">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg transition duration-300">
            <fa-icon [icon]="['fas', 'rocket']" class="mr-2"></fa-icon> Solicitar Demo
          </button>
          <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-3 px-6 rounded-lg transition duration-300">
            <fa-icon [icon]="['fas', 'info-circle']" class="mr-2"></fa-icon> Saiba Mais
          </button>
        </div>
      </div>
      <div class="md:w-1/2 relative">
        <div class="carousel-container" >
          <div class="carousel-slide" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
            <div class="carousel-item">
              <img src="assets/img/module-client.svg" alt="Gestão de Clientes" class="w-full max-w-md mx-auto rounded-lg shadow-2xl relative z-10">
              <h3 class="text-xl text-center font-semibold mt-4 text-gray-800">Gestão de Clientes</h3>
            </div>
            <div class="carousel-item">
              <img src="assets/img/module-employee.svg" alt="Gestão de Funcionários" class="w-full max-w-md mx-auto rounded-lg shadow-2xl relative z-10">
              <h3 class="text-xl text-center font-semibold mt-4 text-gray-800">Gestão de Funcionários</h3>
            </div>
            <div class="carousel-item">
              <img src="assets/img/module-department.svg" alt="Gestão de Departamentos" class="w-full max-w-md mx-auto rounded-lg shadow-2xl relative z-10">
              <h3 class="text-xl text-center font-semibold mt-4 text-gray-800">Gestão de Departamentos</h3>
            </div>
            <div class="carousel-item">
              <img src="assets/img/module-sales.svg" alt="Gestão de Vendas" class="w-full max-w-md mx-auto rounded-lg shadow-2xl relative z-10">
              <h3 class="text-xl text-center font-semibold mt-4 text-gray-800">Gestão de Vendas</h3>
            </div>
            <div class="carousel-item">
              <img src="assets/img/module-stock.svg" alt="Gestão de Estoque" class="w-full max-w-md mx-auto rounded-lg shadow-2xl relative z-10">
              <h3 class="text-xl text-center font-semibold mt-4 text-gray-800">Gestão de Estoque</h3>
            </div>
            <div class="carousel-item">
              <img src="assets/img/module-billing.svg" alt="Gestão de Faturamento" class="w-full max-w-md mx-auto rounded-lg shadow-2xl relative z-10">
              <h3 class="text-xl text-center font-semibold mt-4 text-gray-800">Gestão de Faturamento</h3>
            </div>
          </div>
          <div class="carousel-controls">
            <button (click)="prevSlide()" class="carousel-button carousel-prev">
              <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
            </button>
            <button (click)="nextSlide()" class="carousel-button carousel-next">
              <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
            </button>
          </div>
        </div>
        <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-blue-100 to-transparent rounded-lg opacity-30 z-0"></div>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 w-full h-1/2 bg-gradient-to-b from-transparent to-gray-100 z-0"></div>
</section>
